<%= render 'shared/errors', obj: @comment %>
<%= form_for [@ticket, @comment] do |f| %>
  <div>
    <%= f.label :body, "Add a comment", class: (error_field?(:body, @comment) ? 'alert-error' : '') %>
    <%= f.text_area :body, rows: 5 %>
  </div>
  <div>
    <%= label_tag :status, "Update ticket status" %>
    <%= select('', :status, %w(new blocked in_progress fixed), {include_blank: 'Do Not Change'}) %>
  </div>
  <%= f.submit (@comment.new_record? ? 'Create Comment' : 'Update Comment') %>
  <span>or</span>
  <%= link_to 'Cancel', ticket_path(@ticket) %>
<% end %>
