<%= render 'shared/content_title', title: 'Sign Up' %>
<%= render 'shared/errors', obj: @user %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :name, class: (error_field?(:name, @user) ? 'alert-error' : '') %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, class: (error_field?(:email, @user) ? 'alert-error' : '') %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, class: (error_field?(:password, @user) ? 'alert-error' : '') %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, class: (error_field?(:password_confirmation, @user) ? 'alert-error' : '') %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit 'Create Account' %>
<% end %>
