<%= render 'shared/errors', obj: @ticket %>
<%= form_for @ticket do |f| %>
  <div>
    <%= f.label :project %>
    <%= f.collection_select(:project_id, Project.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 5 %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select(:status, ['new', 'blocked', 'in_progress', 'fixed']) %>
  </div>
  <div>
    <%= f.label :assignee %>
    <%= f.collection_select(:assignee, User.all, :id, :name, {selected: (@ticket.assignee.id if @ticket.assignee)}) %>
  </div>
  <div>
    <%= f.label :tags %>
    <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, {multiple: true}) %>
  </div>
  <%= f.submit (@ticket.new_record? ? 'Create Ticket' : 'Update Ticket') %>
<% end %>
