<td><%= link_to ticket.name, ticket_path(ticket.id) %></td>
<td><%= ticket.assignee.name %></td>
<td><%= ticket.status %></td>
<td><%= get_tags(ticket) %></td>
<td>
  <%= link_to 'Edit', edit_ticket_path(ticket.id) %>
  <%= link_to 'Destroy', ticket_path(ticket), method: :delete, data: {confirm: 'Are you sure?'} %>
</td>
