<div id='ticket-wrapper'>
  <%= render 'shared/content_title', title: @ticket.name %>

  <p><%= @ticket.body %></p>
  <p>
    <strong>Tags: </strong>
    <%= get_tags(@ticket) %>
  </p>
  <%= link_to 'Edit', edit_ticket_path %>

  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Creator</th>
        <th>Assignee</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @ticket.status %></td>
      <td><%= @ticket.creator.name %></td>
      <td><%= @ticket.assignee.name %></td>
    </tbody>
  </table>

  <%= render 'shared/content_title', title: 'Comments' %>
  <% @ticket.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
  <%= render 'comments/form' %>
</div>
