<%= render 'shared/errors', obj: @tag %>
<%= form_for @tag do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit (@tag.new_record? ? 'Create Tag' : 'Update Tag') %>
<% end %>

<% if @tag.new_record? %>
  <%= link_to 'Back', :back %>
<% end %>
